<?xml version="1.0" encoding="utf-8"?>
<manifest package="net.chiragaggarwal.android.popflix"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:minSdkVersion="8"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.MoviesActivity"
                  android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".presentation.DetailsActivity"
                  android:configChanges="orientation">
        </activity>
        <activity android:name=".presentation.SettingsActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"
                  android:theme="@style/PreferenceTheme">
        </activity>
        <provider
            android:name=".data.MoviesProvider"
            android:authorities="net.chiragaggarwal.android.popflix.data.movies-provider"/>
    </application>

</manifest>
